.avis {
    padding: 3rem 1rem;
    text-align: center;
    background: #2a3f58;
  
    &__title {
      font-size: 3rem;
      margin-bottom: 2rem;
      color: #fff;
    }
  
    &__viewport {
      overflow: hidden;
      max-width: 700px;
      margin: 0 auto;
    }
  
    &__container {
      display: flex;
    }
  
    &__slide {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
  
    &__card {
      background:#bf2432;
      border-radius: 10px;
      padding: 2rem;
      width: 100%;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
  
    &__comment {
      font-size: 1.3rem;
      font-style: italic;
      margin-bottom: 1rem;
      color: #fff;
    }
  
    &__author {
      font-weight: bold;
      margin-bottom: 0.5rem;
      color:#fff;
    }
  
    &__stars {
      color: #f5c518; // jaune
      font-size: 1.2rem;
    }
  
    &__dots {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
  
      .avis__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #bbb;
        border: none;
        cursor: pointer;
  
        &.is-active {
          background: #bf2432; 
        }
      }
    }
  }
  