header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #2a3f58 3px solid;
  z-index: 999;

  

  .logo_mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    img {
      width: 120px;
    }
    p {
      font-size: 0.8rem;
      text-align: center;
      color: #2a3f58;
      margin-bottom: 1rem;
    }
  }

  .burger {
    background: none;
    border: none;
    font-size: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #2a3f58;
  }

  .appel {
    background: #fff;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .header__button {
    background: #fff;
    padding: 0.8rem 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  // Navigation mobile
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;

    .close-btn {
      position: absolute;
      top: 2rem;
      left: 1.7rem;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #2a3f58;
    }

    &.show {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
    img {
      width: 200px;
    }
    .header__btn {
      background: #bf2432;
      color: #fff;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      padding: 1rem 1.3rem;
      text-decoration: none;

      &:hover {
        background: none;
        color: #2a3f58;
        transform: none;
      }
    }
    a {
      position: relative;
      text-decoration: none;
      color: #2a3f58;
      font-size: 2rem;
      font-weight: 500;
      padding-bottom: 2px;
      transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: #2a3f58;
        transition: width 0.3s ease;
      }

      &:hover {
        color: #2a3f58;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    &.show {
      opacity: 0.5;
      pointer-events: auto;
    }
  }

  .tel_header {
    font-size: 2rem;
    font-weight: 500;
    color: #2a3f58;
    margin: 1rem;
    
    color: #bf2432;
  }

  // ===== Desktop =====
  @media screen and (min-width: 768px) {
    padding: 0rem 2rem;

    .logo_mobile {
      position: static;
      transform: none;
      img {
        width: 150px;
      }
      p {
        font-size: 1rem;
        text-align: center;
        color: #2a3f58;
      }
    }

    .burger,
    .overlay,
    .close-btn {
      display: none;
    }

    .header__nav {
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      height: auto;
      background: transparent;
      gap: 2rem;
      opacity: 1;
      transform: none;
      pointer-events: auto;

      img {
        display: none;
      }
      a {
        color: #2a3f58;
        font-weight: 500;
        font-size: 1.5rem;
        text-decoration: none;
        position: relative;
        padding-bottom: 2px;
        transition: color 0.3s ease;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          height: 2px;
          background: #2a3f58;
          transition: width 0.3s ease;
        }

        &:hover {
          color: #2a3f58;

          &::after {
            width: 100%;
          }
        }

        &.active {
          color: #bf2432;

          &::after {
            width: 100%; // toujours souligné si actif
          }
        }
      }
    }
    .tel_header {
      display: none;
    }
  }
}
