header {
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo_mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:2rem;
    img {
      width: 120px;
    }
    p{
      font-size: 0.8rem;
      text-align: center;
      color: #2A3F58;
    }
  }

  .burger {
    background: none;
    border: none;
    font-size: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    color:#2A3F58;
  }

  .appel {
    background: #fff;
    padding: 0.8rem 1rem;
    font-weight: bold;
  }

  // Navigation mobile
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;

    .close-btn {
      position: absolute;
      top: 2rem;
      left: 1.7rem;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #2A3F58;
    }

    &.show {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
    img {
      width: 200px;
    }
    a {
      position: relative;
      text-decoration: none;
      color: #2A3F58;
      font-size: 1.6rem;
      font-weight: 500;
      padding-bottom: 2px;
      transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: #2A3F58;
        transition: width 0.3s ease;
      }

      &:hover {
        color: #2A3F58;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  .tel_header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #2A3F58;
    margin-top: 1.3rem;
    color:#BF2432;
  }

  // ===== Desktop =====
  @media screen and (min-width: 768px) {
    padding: 0rem 2rem;

    .logo_mobile {
      position: static;
      transform: none;
      img {
        width: 150px;
      }
      p{
        font-size: 1rem;
        text-align: center;
        color: #2A3F58;
      }
    }

    .burger,
    .overlay,
    .close-btn {
      display: none;
    }

    .header__nav {
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      height: auto;
      background: transparent;
      gap: 2rem;
      opacity: 1;
      transform: none;
      pointer-events: auto;

      img {
        display: none;
      }
      a {
        color: #2A3F58;
        font-weight: 500;
        font-size: 1.4rem;
        text-decoration: none;
        position: relative;
        padding-bottom: 2px;
        transition: color 0.3s ease;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          height: 2px;
          background: #2A3F58;
          transition: width 0.3s ease;
        }

        &:hover {
          color: #000;

          &::after {
            width: 100%;
          }
        }

        &.active {
          color: #BF2432;

          &::after {
            width: 100%; // toujours souligné si actif
          }
        }
      }
    }
    .tel_header {
      display: none;
    }
  }
}
