.home {
  .home__hero {
    text-align: center;
    padding: 4rem 1rem;
    margin-top: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/clef.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #fff;
      border-bottom: #bf2432 3px solid;
    }

    p {
      max-width: 500px;
      font-size: 1.4rem;
      margin: 0 auto;
      line-height: 1.6;
      color: #fff;
    }

    .home__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      button {
        background-color: #2a3f58;
        border: 1px solid #fff;
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;

        a {
          color: #fff;
          text-decoration: none;
        }

        &:hover {
          background-color: #bf2432;
          transition: all 0.3s ease;
        }
      }
    }
    @media (min-width: 768px) {
      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.6rem;
        max-width: 900px;
      }
    }
  }
  .heroDepannage {
    background-color: #2a3f58;
    padding: 4rem 2rem;
    color: #fff;

    &__content {
      display: flex;
      flex-direction: column; // mobile
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;
      padding:3rem 1rem;

      @media screen and (min-width: 992px) {
        flex-direction: row; // desktop
        justify-content: space-between;
        align-items: center;
      }
    }

    &__left {
      flex: 2;

      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color:#fff;
      }

      p {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        max-width: 500px;
      }
    }

    &__btn {
      background-color: #bf2432;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1.5rem 4rem;
      border: 1px solid #fff;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: darken(#bf2432, 10%);
      }
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .heroDepannage__info {
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
          font-size: 2rem;
          color: #fff;
        }

        h3 {
          font-size: 2.5rem;
          font-weight: 600;
          color:#bf2432;
        }

        p {
          font-size: 1.2rem;
          opacity: 0.9;
          color:#fff;
        }
      }
    }
  }
  .home-section1,
  .home-section2 {
    display: flex;
    flex-direction: column; // mobile : texte au-dessus de l'image
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem 1rem;
    align-items: center;

    &__text {
      text-align: start;

      h2 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
        color: #2a3f58;
        border-bottom: #bf2432 3px solid;
      }

      p {
        font-size: 1.3rem;
        line-height: 1.6;
      }
    }

    &__image {
      text-align: center;

      img {
        max-width: 400px;
        width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }
    &__buttons {
      gap: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin-top: 2rem;

      button {
        background-color: #2a3f58;
        border: 1px solid #fff;
        padding: 1.3rem 2rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;

        a {
          color: #fff;
          text-decoration: none;
        }

        &:hover {
          background-color: #bf2432;
          transition: all 0.3s ease;
        }
      }
    }

    // Desktop / tablette
    @media (min-width: 768px) {
      flex-direction: row; // texte à gauche, image à droite
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 3.5rem;
      }
      &__text {
        flex: 1;
        text-align: start;
        padding-right: 2rem;
      }

      &__image {
        flex: 1;
        text-align: center;
      }
    }
  }
  .home-section2__text p {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: start;
  }
  .artisan {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;
    color: #2a3f58;
  }

}
